a, a:visited {
    outline: none;
    text-decoration:none;
    color:white;
}

a:hover {
  text-decoration: underline;
}

html, body {
  height: 100%;
}

body{
    background-color:rgb(40,40,40);
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    color:white;
}

h1
{
    display: inline;
    font-size: 50px;
    margin-left: 10px;
}

h2 {
    color: rgb(140, 70, 255);
    font-size: 25px;
    font-weight: 800;
    line-height: 2;
    text-shadow:
        0 0 6px rgba(140, 70, 255, 0.8),
        0 0 18px rgba(140, 70, 255, 0.5);
}


img {
    margin: 0;
    background: none;
    border: 0;
    box-shadow: none; }

p{
    margin: 0 0 20px 0;
}



strong{
    color: #f92672;
}

.analytics article{
    margin-top:50px;
    column-count: 3;
}

.center{
    text-align:center;
}

.dashboard {
  width: 100%;
  height: calc( var(--vh, 1vh) * 100);
  overflow: hidden;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.dashboard figure{
    display: flex;
}

.dashboard figure img {
    height: calc( var(--vh, 1vh) * 50);
    width:calc( var(--vw, 1vw) * 100/3);
}

.dashboard figure iframe{
    height: calc( var(--vh, 1vh) * 50);
    width:calc( var(--vw, 1vw) * 100/3);
}

.dashboard body a{
    position:absolute;
}

.dashboard body a img{
    width:15px;
}

.dashboard a:nth-of-type(1n){
    margin-top:calc( var(--vh, 1vh) * 1);
    margin-left:calc( var(--vw, 1vw) * 0.3);
}

.dashboard a:nth-of-type(2n){
    margin-top:calc( var(--vh, 1vh) * 1);
    margin-left:calc( var(--vw, 1vw) * 34);
}

.dashboard a:nth-of-type(3n){
    margin-top:calc( var(--vh, 1vh) * 1);
    margin-left:calc( var(--vw, 1vw) * 67.5);
}

.dashboard body a:nth-of-type(4n){
    margin-top:calc( var(--vh, 1vh) * 51); 
    margin-left:calc( var(--vw, 1vw) * 1);
}

.dashboard a:nth-of-type(5n){
    margin-top:calc( var(--vh, 1vh) * 51);
    margin-left:calc( var(--vw, 1vw) * 34);
}

.dashboard a:nth-of-type(6n){
    margin-top:calc( var(--vh, 1vh) * 51);
    margin-left:calc( var(--vw, 1vw) * 67.5);
}


.analytics article img{
    width:calc( var(--vw, 1vw) * 31);
}

.dashboard div a{
    position:absolute;
}

.dashboard div img, .dashboard div iframe{
    height: calc( var(--vh, 1vh) * 50);
    width:calc( var(--vw, 1vw) * 100/3);
}

.dashboard div a:after, .analytics nav a:after{
    position: absolute;
    z-index:1;
    content: url('../img/menu.svg');
}

.index{
  display: flex;
  flex-direction: column;
  min-height: 100vh;   /* full viewport height */
  justify-content: space-between; 
  overflow: hidden;
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.index section{
margin:10px;
}

.logo{
    width:50px;
    height:50px;
}

.logo2:focus {
    outline:none;
}

.logo2{
    position: absolute;
    right:10px;
    z-index:1;
    content: url('../img/logo.svg');
    width:30px;
    height:30px;
}

.logo2:active {
    outline:none;
    transform:scale(0.96);
}

.logo2:focus {
    outline:none;
}

.button{
    font-weight:bold;
    text-align:center;
    background-color: rgb(255,0,76);
    width:100px;
    padding:5px;
    border-radius:5px;
}

.button:active {
    outline:none;
    transform:scale(0.96);
}

.button:focus {
    outline:none;
}

.analytics iframe{
    width:100%;
    height:300px;
}

.panel{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.panel article{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.image{
    width: 500px;
}
